body{
    background-color: white;
}
h1{
    color:maroon;
    margin-left: 40px;
}
.nav-przycisk{
border: 1px solid black;
text-decoration: none;
color: black;
padding: 11px 22px;
font-weight: bold;
transition: background-color 0.2s;
}
.nav-przycisk:hover{
    background-color: gray;

}
.nav-google{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 4px 60px;
    font-weight: bold;
    transition: background-color 0.2s;
}
.nav-google:hover{
    background-color: gray;

}
#menu{
margin-left: auto;
margin-right: auto;
}
#reklama-szkoly{
text-align: center;
background-color: darkgrey;
}
#logo-center{
text-align: center;
}
.reklamy-kierunku{
text-align: center;
}
.Dniotwarte{
position: absolute;top: 666px;left: auto;
border: 1px solid black;
}
.Nniotwarte{
position: absolute;right: 10px; left: auto;
position: absolute;top: 666px;
border: 1px solid black;
}
#body1{
    display: flex; flex-direction: row;
}
#LogoLOCKER{
    margin-left: 250px; margin-top: 40px;  width: 200px;
}
#Wgoogle{
    margin-left: 250px; margin-top: 80px;
}
#Apki{
    margin-left: 200px; margin-top: 60px;
}
#Przyciski{
    margin-left: 300px; margin-top: 30px; display: flex; flex-direction: row; text-align: center;
}
#P-Wiadomosci{
    width: 157px; 
}
#P-Sport{
    width: 98px;
}
#P-Premium{
    width: 125px;
}
#P-Biznes{
    width: 104px;
}
#P-Wiadslosk{
    width: 154px;
}
#P-Pogoda{
    width: 115px;  
}
#P-Video{
    width: 170px;
}
#P-Auto{
    width: 172px;
}
#P-Morizon{
    width: 172px;
}
#P-FilmyYT{
    margin-top: 60px;
}
body{
    animation:fadeIn 3s;
}

@keyframes fadeIn {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}


